.header {
    width: 100%;
    position: relative;
    padding: 15px 0;
    background-color: #fff;
    z-index: 2;

    &__logo {
        color: #000;
        font-size: 40px;
    }

    &__menu {
        list-style: none;

        &--item {
            display: block;
            margin-left: 30px;
        }

        &--link {
            color: #000;
            text-decoration: none;
        }
    }
}